.item-name {
  font-size: 14;
  font-weight: bold;
  padding-top: 10;
}
.item-title {
  font-size: 14;
  color: #828282;
}
.back-icon {
  margin-top: 5;
  margin-left: 5;
  color: #fff;
}

.video-icon {
  vertical-align: bottom;
  height: 30;
  font-size: 16;
  margin-right: 2;
  padding: 6 5 5 5;
}
.cal-icon {
  padding-right: 5;
}
.date-text {
  padding-top: 3;
}
.gen-text {
  font-size: 12;
  font-weight: nomal;
  color: #000;
  padding-bottom: 3;
}

.overview-text {
  font-size: 14;
  font-weight: bold;
  color: black;
}

.overview-icon {
  font-size: 16;
  font-weight: bold;
  color: #db3e3e;
  margin-right: 8;
  vertical-align: center;
}

.overview-value {
  font-size: 14;
  color: black;
}

.heart-active {
  color: #db3e3e;
}

.default {
  color: #828282;
}

.layout {
  vertical-align: bottom;
  color: #828282;
  font-size: 14;
  height: 30;
  padding: 5 0 10 0;
}

.card-img-thumb {
  vertical-align: center;
  border-radius: 5;
  width: 130;
  height: 70;
  margin-left: 5;
}

.line {
  height: 0.5;
  border: none;
  color: #e0e0e0;
  background-color: #e0e0e0;
}

.lineBreak {
  height: 0.5;
  border: none;
  color: #e0e0e0;
  background-color: #e0e0e0;
}
